  <p>過去の配達実績</p>
<% @baggages.each do |baggage| %>
  <%= render partial: "baggage", locals: { baggage: baggage } %>
  <% @results.where(id: baggage.id).each do |i|%>
    <%= i.created_at.strftime("%H:%M") %>
    <%= i.delivery_result %>
  <% end %><br>
<% end %><br>


<h1>配達実績を調べる</h1>
<%= render 'search_form', url: baggages_path, q: @q %>

