<h1>配達実績を調べる</h1>
<%= render 'search_form', url: baggages_path, q: @q %>

<p>過去の完了実績</p>
<% if @baggages.present? %>
  <% @baggages.each do |baggage| %>
    <%= render partial: "baggage", locals: { baggage: baggage } %>
    <%= baggage.created_at.strftime("%H:%M") %>
    <%= baggage.delivery_result %><br>
  <% end %>
<%else%>
  <p>配達完了データなし</p>
<% end %>

